<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>telephone list</title>
    <link type="text/css" rel="stylesheet" href="/static/telephone.css">

</head>
<body>
<table width="90%" class="table">
    <caption>
        <h2>Spring Boot Telephone</h2>
    </caption>
    <thead>
    <tr>
        <th>number</th>
        <th>name</th>
        <th>telephone</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody id="content"></tbody>
</table>

<script type="text/javascript" src="/static/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/static/telephone.js"></script>
</body>
</html>